{% if content %}

	<footer {{ attributes.addClass('mitor-footer') }}>
		<div class="footer-first">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-5 footer-column">
					{% if content.mitor_footer_site_logo %}
						<div {{ region_attributes.mitor_footer_site_logo.addClass(['img-logo']) }}>
							{{ content.mitor_footer_site_logo }}
						</div>
					{% endif %}

					{% if content.mitor_footer_description %}
						<div {{ region_attributes.mitor_footer_description.addClass(['mc-description']) }}>
							{{ content.mitor_footer_description }}
						</div>
					{% endif %}

					{% if content.mitor_footer_social %}
						<div {{ region_attributes.mitor_footer_social.addClass(['social-bloc']) }}>
							{{ content.mitor_footer_social }}
						</div>
					{% endif %}

				</div>
				<div class="col-lg-3 col-md-5 footer-column">
					{% if content.mitor_footer_column1_title %}
						<h3 {{ region_attributes.mitor_footer_column1_title.addClass(['head-element']) }}>
							<p>{{ content.mitor_footer_column1_title }}</p>
						</h3>
					{% endif %}

					{% if content.mitor_footer_column1_links %}
						<div {{ region_attributes.mitor_footer_column1_links.addClass(['links']) }}>
							{{ content.mitor_footer_column1_links }}
						</div>
					{% endif %}

				</div>
				<div class="col-lg-3 col-md-5 footer-column">
					{% if content.mitor_footer_column2_title %}
						<{{settings.region_tag_mitor_footer_column2_title}} {{ region_attributes.mitor_footer_column2_title.addClass(['head-element']) }}>
							<p>{{ content.mitor_footer_column2_title }}</p>
						</{{settings.region_tag_mitor_footer_column2_title}}>
					{% endif %}

					{% if content.mitor_footer_column2_links %}
						<div {{ region_attributes.mitor_footer_column2_links.addClass(['links']) }}>
							{{ content.mitor_footer_column2_links }}
						</div>
					{% endif %}

				</div>
				<div class="col-lg-3 col-md-5 footer-column">

                    {% if content.mitor_footer_subscribe %}
                    <h3 {{ region_attributes.mitor_footer_subscribe.addClass(['head-element']) }}>
						{{ content.mitor_footer_subscribe }}
					</h3>
                    {% endif %}
					
                    {% if content.mitor_footer_subscribe_text %}
                    <div {{ region_attributes.mitor_footer_subscribe_text.addClass(['description']) }}>
						<{{settings.region_tag_mitor_footer_subscribe_text}}>{{ content.mitor_footer_subscribe_text }}</{{settings.region_tag_mitor_footer_subscribe_text}}>
					</div>
                    {% endif %}
					
                    {% if content.mitor_footer_subscribe_form %}
                    <div {{ region_attributes.mitor_footer_subscribe_form.addClass(['email-form']) }}>
						{{ content.mitor_footer_subscribe_form }}
					</div>
                    {% endif %}
					
				</div>
			</div>
		</div>	
		</div>	
			
			
			
			
			
			
			
		<div class="mitor-footer-last">	
		<div class="container">
			<div class="copyright text-center row">
				{% if content.mitor_footer_copyright %}
					<div {{ region_attributes.mitor_footer_copyright.addClass(['col-md-4', 'pb-5', 'p-sm-0', 'text-left']) }}>
						{{ content.mitor_footer_copyright }}
					</div>
				{% endif %}
				{% if content.mitor_footer_term %}
					<div {{ region_attributes.mitor_footer_term.addClass(['col-md-8', 'd-flex', 'align-items-end']) }}>
						{{ content.mitor_footer_term }}
					</div>
				{% endif %}
			</div>
		</div>
		</div>
	</footer>
{% endif %}
