{% if content %}
	<section {{ attributes.addClass('mitor-blogs-section-handler') }}>
		<div class="container">
			<div class="row">
                <div class="col-lg-5">
					<aside class="right-side-wrap">
						<div class="sidebar-widget search-widget">
							<div class="input-group mycustom">
								<input type="text" placeholder="Keyword..." class="input outline-0 form-control" id="" required>
							</div>
							<div class="input-group-prepend">
								<button class="btn btn-primary btn-sm px-5">Search</button>
							</div>
						</div>
                        <div class="sidebar-widget categories">
							{% if content.third_container_title %}
								<div class="widget-title">
									<h4 {{ region_attributes.third_container_title.addClass(['title']) }}>
										{{ content.third_container_title }}
									</h4>
								</div>
							{% endif %}
							<div class="elements">
								{% if content.third_container %}
                                    {{ content.third_container }}
                                {% endif %}
							</div>
						</div>
						<div class="sidebar-widget recent-post">
							{% if content.first_container_title %}
								<div class="widget-title">
									<h4 {{ region_attributes.first_container_title.addClass(['title']) }}>
										{{ content.first_container_title }}
									</h4>
								</div>
							{% endif %}
							<div class="elements">
								{% if content.first_container %}
                                    {{ content.first_container }}
                                {% endif %}
							</div>
						</div>
						<div class="sidebar-widget recent-post">
							{% if content.second_container_title %}
								<div class="widget-title">
									<h4 {{ region_attributes.second_container_title.addClass(['title']) }}>
										{{ content.second_container_title }}
									</h4>
								</div>
							{% endif %}
							<div class="elements">
								{% if content.second_container %}
                                    {{ content.second_container }}
                                {% endif %}
							</div>
						</div>
					</aside>
				</div>
				<div class="col-lg-7">
					{% if content.all_posts %}
						{{ content.all_posts }}
					{% endif %}

				</div>
			</div>
		</div>
	</section>
{% endif %}
