{% if content %}
	{% if content.background_image.layout_builder_add_block %}
		{{ content.background_image }}
	{% endif %}
	{% if content.background_image|layout_bg_img %}
		{% set attributes = attributes.merge(content.background_image|layout_bg_img) %}
	{% endif %}
	<section {{ attributes.addClass('mitor-404-section-handler') }}>
		<div class="container">
			<div class="msg-404">
				{% if content.mitor_not_found_image %}
					<div {{ region_attributes.mitor_not_found_image.addClass(['img-404-handler']) }}>
						{{ content.mitor_not_found_image }}
					</div>
				{% endif %}
				<div class="content">
					<h6 class="title">
						{% if content.mitor_not_found_title %}
							<div {{ region_attributes.mitor_not_found_title.addClass(['d-inline-block']) }}>
								{{ content.mitor_not_found_title }}
							</div>
						{% endif %}

						{% if content.mitor_not_found_try_again %}
							<div {{ region_attributes.mitor_not_found_try_again.addClass(['d-inline-block']) }}>
								{{ content.mitor_not_found_try_again }}
							</div>
						{% endif %}
					</h6>
					{% if content.mitor_not_found_back_to_home_button %}
						<div {{ region_attributes.mitor_not_found_back_to_home_button.addClass(['backhome']) }}>
							{{ content.mitor_not_found_back_to_home_button }}
						</div>
					{% endif %}
				</div>

			</div>
		</div>
	</section>
{% endif %}
