{% if content %}
    {% if content.mitor_background_image.layout_builder_add_block %}
		{{ content.mitor_background_image }}
	{% endif %}
	{% if content.mitor_background_image|layout_bg_img %}
		{% set attributes = attributes.merge(content.mitor_background_image|layout_bg_img) %}
	{% endif %}
	<section {{ attributes.addClass('mitor-contact-hero') }}>
    {#% if content.mitor_background_image %} style=" background-image: url('{{ content.mitor_background_image }}')">
		{% else %}
        style=" background-image: url('http://slidesigma.com/themes/html/mitor/assets/img/coming-soon/banner-3.jpg')">
	{% endif %#}
	<div class="container">
		<div class="titles-handler">
			{% if content.mitor_title %}
                <h1 {{ region_attributes.mitor_title.addClass(['title']) }}>
                    {{ content.mitor_title }}
                </h1>
            {% endif %}
			<ul class="title-desc">
                {% if content.mitor_element %}
                    <li {{ region_attributes.mitor_element.addClass(['parent-route']) }}>
                        {{ content.mitor_element }}
                    </li>
                {% endif %}
			</ul>
		</div>
	</div>
</section>{% endif %}
