{% if content %}
    <div {{ attributes.addClass('proposition') }}>
        {% if content.mitor_why_icon %}
        <div class="svg-handler">
            <div {{ region_attributes.mitor_why_icon.addClass(['svg']) }}>
                {{ content.mitor_why_icon }}
            </div>
        </div>
        {% endif %}
        {% if content %}
            <div {{ region_attributes.mitor_why_message.addClass(['service-proposition']) }}>
                {{ content.mitor_why_message }}
        </div>
        {% endif %}
    </div>
{% endif %}