{% if content %}
	<article {{ attributes.addClass('element') }}>
		<a href="#" class="link-element">
			{% if content.name %}
                <div {{ region_attributes.name.addClass('category') }}>
                    {{ content.name }}
                </div>
            {% endif %}
			{% if content.value %}
                <span {{ region_attributes.value.addClass('number') }}>
				({{ content.value }})
			</span>
            {% endif %}
		</a>
	</article>
{% endif %}
