{% if content %}
	<article {{ attributes.addClass('element') }}>
		<a href="#" class="link-element">
			{% if content. %}
                <div {{ region_attributes.mitor_project_image.addClass('category') }}>
                    {{ content. }}
                </div>
            {% endif %}
			{% if content. %}
                <span {{ region_attributes.mitor_project_image.addClass('number') }}>
				({{ content. }})
			</span>
            {% endif %}
		</a>
	</article>
{% endif %}
